body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
}

.HomeScreen {
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(104, 79, 159);
}

.PageActions {
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
}

.PageActions button {
    display: inline-block; 
    position: relative;
    margin: 10px; 
    padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: hsl(125, 85%, 52%);
    color: rgb(16, 12, 12); 
}

.ChessBorder {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, lightgreen, lightblue);
    display: flex;
    justify-content: center;
    padding-top: 3%;
}

.White {
    background-color: #fff8dc;
}

.Black {
    background-color: #954535;
}

.WhiteNumber {
    color: #fff8dc;
}

.BlackNumber {
    color: #954535;
}

.ChessBoard {
    height: 70vmin;
    width: 70vmin;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-radius: 5px;
    border-width: 15px;
    border-color: #4d2d1a;
}

.ChessRow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ChessSquare {
    position: relative;
    width: 12.5%;
    height: 100%;
    max-height: 100%;
}

.ChessSquare:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 5px aquamarine;
    z-index: 1;
}

.ChessSquareLetter {
    position: absolute;
    bottom: 0px;
    left: 80%;
}

.ChessSquareNumber {
    position: absolute;
}

.ChessSquareLetter,
.ChessSquareNumber {
    font-size: medium;
    font-weight: 700;
}

.ChessPiece {
    width: 90%;
    z-index: 1;
    cursor: pointer;
    position: absolute;
}

.ChessPiece img {
    max-width: 100%;
    width: 100%;
}

.ChessActions {
    margin-top: -150px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ChessActions button {
    position: relative;
    margin: 50px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 2px  solid #DC1FFF;
    
    background-color: white;
    color: linear-gradient(to left, #00FFA3, #DC1FFF);;
    border-radius: 8px;
    transition: background-color 200ms, color 200ms;
}

.ChessActions button::before {
    content: "";
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border-radius: 6px;
    background-color: white;
    z-index: -1;
    transition: 200ms;
}

.ChessActions button:hover {
    background: linear-gradient(to left, #00FFA3, #DC1FFF);
    -webkit-background-clip: text;
    color: transparent;
}

.ChessActions button:hover::before {
    opacity: 50%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
