body {
    margin: 0;
    padding: 0;

    width: 100%;
    height: 100dvh;

    background-image: url('../WallPaper/bizzchess.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    overflow: hidden;
}

/*----------SETTINGS AND ABOUT US SCREEN----------*/
.SettingsScreen, .AboutUsScreen {
    position: absolute;

    width: 100%;
    height: 100%;

    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: rgba(0, 0, 0, 0.75);

    /*NOTE: Transition set in JavaScript */
}

.SettingsScreen.active, .AboutUsScreen.active, .HomeScreen.inactive {
    transform: translateY(-100%);
    opacity: 1;
}

.BackButton {
    position: absolute;
    top: 10px;
    left: 10px;
    
    border: none;
    background: none;
    color: white;
    font-size: 20px;
    cursor: pointer;

    transition: color 0.6s, scale 0.6s;
}

.BackButton:hover {
    color: #00FFA3;
    scale: 130%;
}

.ScreenTitle {
    position: absolute;

    font-size: clamp(40px, 8vw, 100px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    color: white;

    top: 0;
}

/* Settings */
.SettingsSection {
    width: 50vw;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 20px;
}

.SettingsOption {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    color: white;
    font-size: x-large;
}

.TextBoxElement {
    padding: 10px 15px;
    
    border: 3px solid #ddd;
    border-radius: 8px;
    
    font-size: 16px;
    outline: none;
    
    transition: border-color 0.3s;
}

.TextBoxElement:focus {
    border-color: #007BFF;
}

.TextBoxElement::placeholder {
    color: #888;
    font-style: italic;
}

.CheckboxElement {
    position: relative;

    width: 20px;
    height: 20px;
    
    appearance: none;
    background-color: #f2f2f2;
    
    border: 2px solid #ccc;
    border-radius: 4px;
    
    cursor: pointer;
    
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.CheckboxElement:checked {
    background-color: #4caf50;
    border-color: #4caf50;
}

.CheckboxElement:checked::before {
    content: '';
    position: absolute;
    
    top: 0px;
    left: 4.5px;
    width: 6px;
    height: 12px;

    border: solid white;
    border-width: 0 2px 2px 0;
    
    transform: rotate(45deg);
}

.SaveButton {
    position: absolute;

    bottom: 10px;

    font-size: x-large;
    color: white;
    
    cursor: pointer;
    padding: 10px 15px;
    
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;

    transition: scale 1s, color 1s;
}

.SaveButton:hover {
    scale: 120%;
    color: #00FFA3;
}

/* About us */
.AboutUsSection {
    font-size: clamp(20px, 3vw, 30px);
    font-family: 'Times New Roman', Times, serif;

    color: white;

    text-align: center;

    margin: 0 5px;
}

.SocialLinks {
    margin-top: 10px;
}

.SocialLinks a {
    display: inline-flex;
    align-items: center;
    
    margin: 10px;

    text-decoration: none;
    color: white;
    font-size: 20px;

    transition: scale 1s, color 1s;
}

.SocialLinks a i {
    margin-right: 8px;
    font-size: 24px;
}

.SocialLinks a:hover {
    scale: 130%;
    color: #00FFA3;
}


/*----------HOME SCREEN----------*/
.HomeScreen {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    transition: transform 0.8s cubic-bezier(0.5, 0, 0.75, 1);
}

.Logo img {
    width: 100%;
    height: 100%;
}

.Logo {
    width: 40vw;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    
    border-radius: 60%; 
    border: 1px solid transparent; 
    box-shadow: 0 0 20px 5px #DC1FFF;
    
    overflow: hidden;
}

.PageActions {
    margin: 0;
    
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    
    z-index: 1;
}

.PageActions button {
    width: 130px;

    position: relative;
    margin: 10px;
    padding: 10px 20px;
    
    font-size: 16px;
    cursor: pointer;
    
    border: 2px solid #DC1FFF;
    border-radius: 8px;
    
    background-color: white;
    color: linear-gradient(to left, #00FFA3, #DC1FFF);
    
    transition: background-color 200ms, color 200ms;
}

.BottomButtons {
    display: flex;
    justify-content: space-evenly;

    position: relative;

    padding: 10px 20px; 
    font-size: 16px;

    cursor: pointer;
}    

.PageActions button::before {
    content: "";
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border-radius: 6px;
    background-color: white;
    z-index: -1;
    transition: 200ms;
}

.PageActions button:hover {
    background: linear-gradient(to left, #00FFA3, #DC1FFF);
    background-clip: text;
    color: transparent;
}

.PageActions button:hover::before {
    opacity: 50%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

/*----------MEDIA QUERIES----------*/
@media screen and (max-width: 900px) {
    .SettingsSection {
        width: 100%;
    }

    .SettingsOption {
        font-size: large;
    }

    .TextBoxElement {
        width: 119.4px;
    }
}

@media screen and (max-width: 438px) {
    .PageActions button {
        font-size: small;
    }

    .BottomButtons {
        flex-direction: column;
        padding: 0;
    }
}

@media screen and (max-height: 440px) {
    .ScreenTitle {
        font-size: 40px;
    }
}