body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100dvh;
    background-image: url('../WallPaper/bizzchess.jpg');
    background-color: rgb(164, 17, 177);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.HomeScreen {
    width: 100%;
    height: 100vh; 
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.Logo {
    width: 40dvh;
    height: 40dvh;
    background-image: url('../Logo/CHESS.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 60%; 
    border: 1px solid transparent; 
    box-shadow: 0 0 20px 5px #DC1FFF;
    transform: translateY(-50%);
    overflow: hidden;
}

.PageActions {
    margin: 0;
    position: absolute; 
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    flex-wrap: wrap;
    justify-content: space-around; 
    transform: translateY(65%);
    z-index: 1;
}

.PageActions button {
    display: inline-block; 
    position: relative;
    margin: 15px; 
    padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer;
    border: 2px  solid #DC1FFF;
    background-color: white;
    color: linear-gradient(to left, #00FFA3, #DC1FFF);
    border-radius: 8px;
    transition: background-color 200ms, color 200ms;
}

.BottomButtons {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin: 15px; 
    padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer;
    transform: translateY(70%);
}    

.PageActions button::before {
    content: "";
    position: absolute;
    left: 1px;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border-radius: 6px;
    background-color: white;
    z-index: -1;
    transition: 200ms;
}

.PageActions button:hover {
    background: linear-gradient(to left, #00FFA3, #DC1FFF);
    background-clip: text;
    color: transparent;
}

.PageActions button:hover::before {
    opacity: 50%;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
